<%-include('./partials/homeHeader')%>
<div class="container w-50 pt-5">
    <h2 class="blog-s-title fw-bold"><%=data.title%></h2>
    <div class="blog-header d-flex align-items-center mt-4">
        <%if(data.userId.image){%>
            <%if(data.userId.googleId){%>
                <img src="<%=data.userId.image%>" class="rounded-pill" width="50px" height="50px" alt="chanadee">
            <%}else{%>
                <img src="/uploads/<%=data.userId.image%>" class="rounded-pill" width="50px" height="50px" alt="chanadee">
            <%}%>
            
        <%}else{%>
            <img src="/image/defaultUserIcon2.jpg" class="rounded-pill" width="50px" height="50px" alt="chanadee">
        <%}%>
        <a href="#" class="author-name text-bold fw-bold"><%=data.userId.firstName%> <%=data.userId.lastName%></a>
        <i class="fa-solid fa-circle fa-xs mt-1" style="color: #d4d6d9; font-size: 6px;"></i>
        <span> <%=data.date%></span>
    </div>
    <!-- <div class="pub-contact w-100 mt-4">
        <div class="h-100 d-flex align-items-center ms-3">
            <a href="#">
                <i class="fa-regular fa-thumbs-up"></i>
            </a>
            <span class="ms-2">8.2K</span>
            <a href="#">
                <i class="fa-regular fa-comment fa-flip-horizontal ms-4"></i>
            </a>
            <span class="ms-2">2</span>
        </div>
    </div> -->
    <div class="mt-3"><p><%=data.content%></p></div>
</div>
<%-include('./partials/homeFooter')%>