<%-include('./partials/homeHeader')%>

    <div class="head-title container-fluid d-flex align-items-center" ">
        <div class="p-5 w-50">
            <h1 class="title">Knowledge is <span class="text-warning">the light</span> that guides us in <span class="text-dark">the dark</span> world of ignorance.</h1>
        </div>
        <div class="head-img">
            <img src="/image/knowledge.png" alt="">
        </div>
    </div>
    <div class="container p-5 d-flex-column">
        <div class="container blog d-flex-column">
            <div class="d-flex justify-content-center mt-4">
                <div class="d-flex-column">
                    <div class="blog-header d-flex align-items-center">
                        <a href="#"><img src="/image/photoMe-color.png" class="rounded-pill" width="40px" alt="chanadee"></a>
                        <a href="#" class="author-name text-bold fw-bold">Chanadee Hlaoken</a>
                        <i class="fa-solid fa-circle fa-xs mt-1" style="color: #d4d6d9; font-size: 6px;"></i>
                        <span> November 4,2023</span>
                    </div>
                    <a href="#">
                    <h1 class="blog-title fs-5 mt-1">JSON is incredibly slow:Here's What's Faster!</h1>
                    <p class="box-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos suscipit
                        officia facere sint quaerat fugiat adipisci vero deleniti temporibus, iusto quas aspernatur,
                        laudantium corporis? Eligendi sint voluptate cupiditate! Iure at soluta sunt error omnis
                        saepe
                        placeat dolore quod, reiciendis ipsam optio illo aspernatur deserunt repellendus consectetur
                        cumque! Praesentium perferendis aut voluptas, eum error quam rerum quod, deserunt modi
                        possimus
                        excepturi impedit? Excepturi harum suscipit quo est nesciunt explicabo voluptate! Officiis,
                        dolorem dolores temporibus voluptatibus optio culpa iure totam ea dignissimos corrupti sunt?
                        Magnam doloremque eaque amet architecto maxime voluptatibus, nostrum molestiae praesentium.
                        Tenetur illum cupiditate quisquam neque nostrum assumenda eius, quas at hic necessitatibus
                        accusamus laborum. Quisquam porro libero quo nulla, deserunt facere fugit. Magni laudantium
                        cum
                        eum maiores itaque quis corrupti in quae placeat pariatur, ipsum iste incidunt aspernatur
                        possimus, saepe qui cupiditate nam libero mollitia omnis vitae ipsam a corporis minus!
                        Incidunt
                        illo dolore consectetur, ipsa ab, officiis vel sint unde cupiditate natus iusto. Ea adipisci
                        necessitatibus quia alias ipsum saepe veniam, recusandae quod perspiciatis vero beatae
                        maiores
                        praesentium, corrupti culpa id ut doloremque. Voluptates inventore assumenda repellat modi
                        deleniti, ea veritatis culpa provident odio eveniet reiciendis et, consectetur error unde
                        quaerat iusto eaque. Inventore corrupti eum modi eligendi magni non temporibus quas dolore
                        placeat porro repudiandae recusandae sapiente, obcaecati illum id, molestiae quia fugiat!
                        Illo
                        quod, hic atque eius esse voluptatum ipsam labore quia tempore voluptatem, consectetur
                        voluptatibus maxime magni nobis. Consequatur est eligendi illo obcaecati culpa dolorum
                        repellat
                        debitis facere, pariatur neque eum nam molestias cum quasi amet animi alias veniam earum
                        ratione
                        sapiente unde officiis numquam maxime. Labore enim facilis, iusto, dolorem molestiae
                        consectetur
                        dolorum quibusdam ratione voluptatum aliquid vitae cum earum ut optio, consequuntur cumque
                        excepturi? Ducimus quos placeat hic et enim! Praesentium, alias. Odio optio mollitia nisi
                        fugiat
                        architecto quasi et iste non!</p>
                    </a>
                        <div class="blog-footer d-flex justify-content-between">
                            <div>
                                <span class="badge text-bg-light p-2 rounded-pill fw-light">nodejs</span>
                            <span class="badge text-bg-light p-2 rounded-pill fw-light">javascript</span>
                            </div>
                            <i class="fa-regular fa-bookmark"></i>
                        </div>
                </div>
                
                <div>
                    <!-- <img src="https://miro.medium.com/v2/resize:fit:4800/format:webp/1*I2ObYjzqveyXzEe9QixMPw.png"
                class="img-content" alt="json"> -->
                </div>
                
            </div>

            <%if(locals.data){%>
                <%data.forEach(data=>{%>
                    <div class="d-flex justify-content-center mt-4">
                        <div class="d-flex-column">
                            <div class="blog-header d-flex align-items-center">
                                <%if(locals.data.image){%>
                                    <a href="#"><img src="/uploads/<%=data.userId.image%>" class="rounded-pill" width="40px" alt="chanadee"></a>
                                <%}else{%>
                                    <a href="#"><img src="/image/defaultUserIcon2.jpg" class="rounded-pill" width="40px" alt="chanadee"></a>
                                <%}%>
                                <a href="#" class="author-name text-bold fw-bold"><%=data.userId.firstName%> <%=data.userId.lastName%></a>
                                <i class="fa-solid fa-circle fa-xs mt-1" style="color: #d4d6d9; font-size: 6px;"></i>
                                <span> <%=data.date%></span>
                            </div>
                            <h1 class="blog-title fs-5 mt-1"><%=data.title%></h1>
                            <p class="box-content"><%=data.content%></p>
                                <div class="blog-footer d-flex justify-content-between">
                                    <div>
                                        <span class="badge text-bg-light p-2 rounded-pill fw-light">nodejs</span>
                                    <span class="badge text-bg-light p-2 rounded-pill fw-light">javascript</span>
                                    </div>
                                    <i class="fa-regular fa-bookmark"></i>
                                </div>
                        </div>
                        <div>
                            <!-- <img src="/uploads/<%=data.image%>" class="img-content" alt="json"/> -->
                        
                        </div>
                        
                    </div>
                <%})%>
                
                <%}else{%>

                <%}%>

            <!-- <div class="d-flex justify-content-center mt-4">
                <div class="d-flex-column">
                    <div class="blog-header d-flex align-items-center">
                        <a href="#"><img src="/image/photoMe-color.png" class="rounded-pill" width="40px" alt="chanadee"></a>
                        <a href="#" class="author-name text-bold fw-bold">Chanadee Hlaoken</a>
                        <i class="fa-solid fa-circle fa-xs mt-1" style="color: #d4d6d9; font-size: 6px;"></i>
                        <span> November 4,2023</span>
                    </div>
                    <h1 class="blog-title fs-5 mt-1">JSON is incredibly slow:Here's What's Faster!</h1>
                    <p class="box-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos suscipit
                        officia facere sint quaerat fugiat adipisci vero deleniti temporibus, iusto quas aspernatur,
                        laudantium corporis? Eligendi sint voluptate cupiditate! Iure at soluta sunt error omnis
                        saepe
                        placeat dolore quod, reiciendis ipsam optio illo aspernatur deserunt repellendus consectetur
                        cumque! Praesentium perferendis aut voluptas, eum error quam rerum quod, deserunt modi
                        possimus
                        excepturi impedit? Excepturi harum suscipit quo est nesciunt explicabo voluptate! Officiis,
                        dolorem dolores temporibus voluptatibus optio culpa iure totam ea dignissimos corrupti sunt?
                        Magnam doloremque eaque amet architecto maxime voluptatibus, nostrum molestiae praesentium.
                        Tenetur illum cupiditate quisquam neque nostrum assumenda eius, quas at hic necessitatibus
                        accusamus laborum. Quisquam porro libero quo nulla, deserunt facere fugit. Magni laudantium
                        cum
                        eum maiores itaque quis corrupti in quae placeat pariatur, ipsum iste incidunt aspernatur
                        possimus, saepe qui cupiditate nam libero mollitia omnis vitae ipsam a corporis minus!
                        Incidunt
                        illo dolore consectetur, ipsa ab, officiis vel sint unde cupiditate natus iusto. Ea adipisci
                        necessitatibus quia alias ipsum saepe veniam, recusandae quod perspiciatis vero beatae
                        maiores
                        praesentium, corrupti culpa id ut doloremque. Voluptates inventore assumenda repellat modi
                        deleniti, ea veritatis culpa provident odio eveniet reiciendis et, consectetur error unde
                        quaerat iusto eaque. Inventore corrupti eum modi eligendi magni non temporibus quas dolore
                        placeat porro repudiandae recusandae sapiente, obcaecati illum id, molestiae quia fugiat!
                        Illo
                        quod, hic atque eius esse voluptatum ipsam labore quia tempore voluptatem, consectetur
                        voluptatibus maxime magni nobis. Consequatur est eligendi illo obcaecati culpa dolorum
                        repellat
                        debitis facere, pariatur neque eum nam molestias cum quasi amet animi alias veniam earum
                        ratione
                        sapiente unde officiis numquam maxime. Labore enim facilis, iusto, dolorem molestiae
                        consectetur
                        dolorum quibusdam ratione voluptatum aliquid vitae cum earum ut optio, consequuntur cumque
                        excepturi? Ducimus quos placeat hic et enim! Praesentium, alias. Odio optio mollitia nisi
                        fugiat
                        architecto quasi et iste non!</p>
                        <div class="blog-footer d-flex justify-content-between">
                            <div>
                                <span class="badge text-bg-light p-2 rounded-pill fw-light">nodejs</span>
                            <span class="badge text-bg-light p-2 rounded-pill fw-light">javascript</span>
                            </div>
                            <i class="fa-regular fa-bookmark"></i>
                        </div>
                </div>
                <div>
                    <img src="https://miro.medium.com/v2/resize:fit:4800/format:webp/1*I2ObYjzqveyXzEe9QixMPw.png"
                class="img-content" alt="json">
                </div>
                
            </div> -->
        </div>
        
        
        <!-- <div class="blog-left">
            <div class="blog">
                <div class="blog-author">
                    <a href="#"><img src="/image/photoMe-color.png" alt="chanadee"></a>
                    <a href="#" class="author-name">Chanadee Hlaoken</a>
                    <i class="fa-solid fa-circle fa-xs" style="color: #d4d6d9; font-size: 4px;"></i>
                    <span> November 4,2023</span>
                </div>
                <h1 class="blog-title">JSON is incredibly slow:Here's What's Faster!</h1>
                <p class="box-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos suscipit
                    officia facere sint quaerat fugiat adipisci vero deleniti temporibus, iusto quas aspernatur,
                    laudantium corporis? Eligendi sint voluptate cupiditate! Iure at soluta sunt error omnis
                    saepe
                    placeat dolore quod, reiciendis ipsam optio illo aspernatur deserunt repellendus consectetur
                    cumque! Praesentium perferendis aut voluptas, eum error quam rerum quod, deserunt modi
                    possimus
                    excepturi impedit? Excepturi harum suscipit quo est nesciunt explicabo voluptate! Officiis,
                    dolorem dolores temporibus voluptatibus optio culpa iure totam ea dignissimos corrupti sunt?
                    Magnam doloremque eaque amet architecto maxime voluptatibus, nostrum molestiae praesentium.
                    Tenetur illum cupiditate quisquam neque nostrum assumenda eius, quas at hic necessitatibus
                    accusamus laborum. Quisquam porro libero quo nulla, deserunt facere fugit. Magni laudantium
                    cum
                    eum maiores itaque quis corrupti in quae placeat pariatur, ipsum iste incidunt aspernatur
                    possimus, saepe qui cupiditate nam libero mollitia omnis vitae ipsam a corporis minus!
                    Incidunt
                    illo dolore consectetur, ipsa ab, officiis vel sint unde cupiditate natus iusto. Ea adipisci
                    necessitatibus quia alias ipsum saepe veniam, recusandae quod perspiciatis vero beatae
                    maiores
                    praesentium, corrupti culpa id ut doloremque. Voluptates inventore assumenda repellat modi
                    deleniti, ea veritatis culpa provident odio eveniet reiciendis et, consectetur error unde
                    quaerat iusto eaque. Inventore corrupti eum modi eligendi magni non temporibus quas dolore
                    placeat porro repudiandae recusandae sapiente, obcaecati illum id, molestiae quia fugiat!
                    Illo
                    quod, hic atque eius esse voluptatum ipsam labore quia tempore voluptatem, consectetur
                    voluptatibus maxime magni nobis. Consequatur est eligendi illo obcaecati culpa dolorum
                    repellat
                    debitis facere, pariatur neque eum nam molestias cum quasi amet animi alias veniam earum
                    ratione
                    sapiente unde officiis numquam maxime. Labore enim facilis, iusto, dolorem molestiae
                    consectetur
                    dolorum quibusdam ratione voluptatum aliquid vitae cum earum ut optio, consequuntur cumque
                    excepturi? Ducimus quos placeat hic et enim! Praesentium, alias. Odio optio mollitia nisi
                    fugiat
                    architecto quasi et iste non!</p>
                <div class="box-footer">
                    <a href="#">Catgory</a>
                    <i class="fa-regular fa-bookmark"></i>
                </div>
            </div>
            <img src="https://miro.medium.com/v2/resize:fit:4800/format:webp/1*I2ObYjzqveyXzEe9QixMPw.png"
                class="img-content" alt="json">
        </div> -->
    </div>


    <!-- <nav>
    <div class="navbar">
        <div class="nav-left">
            <img src="/image/logo-removebg-preview.png" class="nav-left" alt="logo" width="40px">
        </div>
        <div class="nav-right">
            <a href="#" type="button" class="" data-bs-toggle="modal" data-bs-target="#signin">Sign In</a>
            <a href="#" type="button" class="get-start" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Get
                Started</a>
        </div>
    </div>
    <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
    </div>
</nav> -->

<%-include('./partials/homeFooter')%>