<%-include('./partials/header')%>
    <!-- signup modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="m-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-column align-items-center">
                    <h1 class="mb-3 f-header">Join Rare.</h1>
                    <a href="/auth/google" class="btn btn-outline-dark d-flex justify-content-between align-items-center w-50 mb-2"
                        style="height: 40px; border-radius: 30px;">
                        <img width="25" height="25" src="https://img.icons8.com/color/48/google-logo.png"
                            alt="google-logo" />
                        <p class="mt-3">Sign up with Google</p>
                        <div></div>
                    </a>
                    <a href="#" type="button" data-bs-target="#signup-w-email" data-bs-toggle="modal" data-bs-dismiss="modal"
                        class="btn btn-outline-dark d-flex justify-content-between align-items-center w-50 mb-3 email-signin"
                        style="height: 40px; border-radius: 30px;">
                        <i class="fa-regular fa-envelope fa-lg"></i>
                        <p class="mt-3">Sign up with Email</p>
                        <div></div>
                    </a>
                    <p class="h-user">Already have an account? <a href="#" type="button" data-bs-target="#signin" data-bs-toggle="modal" data-bs-dismiss="modal">Sign in</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- signin modal  -->
    <div class="modal fade" id="signin" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="m-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-column align-items-center">
                    <h1 class="mb-3 f-header">Welcome back.</h1>
                    <a href="/auth/google" class="btn btn-outline-dark d-flex justify-content-between align-items-center w-50 mb-2"
                        style="height: 40px; border-radius: 30px;">
                        <img width="25" height="25" src="https://img.icons8.com/color/48/google-logo.png"
                            alt="google-logo" />
                        <p class="mt-3">Sign in with Google</p>
                        <div></div>
                    </a>
                    <a href="#" type="button" data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#signin-w-email"
                        class="btn btn-outline-dark d-flex justify-content-between align-items-center w-50 mb-3 email-signin"
                        style="height: 40px; border-radius: 30px;">
                        <i class="fa-regular fa-envelope fa-lg"></i>
                        <p class="mt-3">Sign in with Email</p>
                        <div></div>
                    </a>
                    <p class="h-user">No account? <a href="#" type="button" data-bs-target="#staticBackdrop" data-bs-toggle="modal" data-bs-dismiss="modal">Create One</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- sign up with email -->
    <div class="modal fade" id="signup-w-email" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="m-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-column align-items-center w-100">
                    <h1 class="mb-3 f-header">Sign up with email</h1>
                    <form action="/user/register" method="post" class="form-signup w-75">
                        <div class="mb-4 w-100 d-flex justify-content-between">
                            <input type="text" name="firstName" class="form-input" style="width: 47.5%;" placeholder="First name">
                            <input type="text" name="lastName" class="form-input" style="width: 47.5%;" placeholder="Last name">
                        </div>
                        <div class="mb-4 w-100">
                            <input type="email" class="form-input" name="username" id="" placeholder="Email address">
                        </div>
                        <div class="mb-4 w-100" style="position: relative;">
                            <input type="password" class="form-input" name="password" id="password" placeholder="Password">
                            <button class="showPassword" id="eyeicon" type="button"><i class="fa-solid fa-eye" style="color: #1a212e;"></i></button>
                        </div>
                        <div class=" mb-4 w-100">
                            <input type="password" class="form-input" name="confirmPassword" id="con-password" placeholder="Confirm password">
                            <button class="showPassword" id="con-eyeicon" type="button"><i class="fa-solid fa-eye" style="color: #1a212e;"></i></button>
                        </div>
                        <button type="submit" class="btn btn-outline-dark d-flex justify-content-center align-items-center w-100 mb-2 get-start "
                        style="height: 40px; border-radius: 30px;">
                        <p class="mt-3 text-center">Sign up</p>
                        <div></div>
                    </button>
                    </form>
                    
                    <p class="h-user"><a href="#" type="button" data-bs-target="#signin" data-bs-toggle="modal" data-bs-dismiss="modal"><i class="fa-solid fa-angle-left"></i> All sign up options</a></p>
                </div>
            </div>
        </div>
    </div>
    <!--Sign in with email  -->
    <div class="modal fade" id="signin-w-email" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="m-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-column align-items-center w-100">
                    <h1 class="mb-3 f-header">Sign in with email</h1>
                    <form action="/user/login" method="post" class="form-signup">
                        <div class="mb-4 w-100">
                            <input type="email" class="form-input" name="username" id="" placeholder="Email address">
                        </div>
                        <div class="mb-4 w-100" style="position: relative;">
                            <input type="password" class="form-input" name="password" id="password" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-outline-dark d-flex justify-content-center align-items-center w-100 mb-2 get-start "
                        style="height: 40px; border-radius: 30px;">
                        <p class="mt-3 text-center">Sign in</p>
                        <div></div>
                    </button>
                    </form>
                    
                    <p class="h-user"><a href="#" type="button" data-bs-target="#signin" data-bs-toggle="modal" data-bs-dismiss="modal"><i class="fa-solid fa-angle-left"></i> All sign in options</a></p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <nav>
        <div class="navbar">
            <div class="nav-left">
                <img src="/image/logo-removebg-preview.png" class="nav-left" alt="logo" width="40px">
            </div>
            <div class="nav-right">
                <a href="#" type="button" class="" data-bs-toggle="modal" data-bs-target="#signin">Sign In</a>
                <a href="#" type="button" class="get-start" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Get
                    Started</a>
            </div>
        </div>
        <div class="progress-container">
            <div class="progress-bar" id="myBar"></div>
        </div>
    </nav>
    <div class="container-fluid d-flex justify-content-center head-title">
        <div class="header">
            <div class="header-left">
                <h1>Stay currious</h1>
                <p>Discover stories, thinking, and expertise<br>
                    from writers on any toppic.</p>
                <a href="#" class="start-reading" type="button" data-bs-toggle="modal" data-bs-target="#signin">Start reading</a>
            </div>
            <div class="header-right"></div>
        </div>
    </div>
    <div class="container-fluid mt-5">
        <div class="super-content">
            <div class="title">
                <div class="blog-left">
                    <div class="blog">
                        <div class="blog-author">
                            <a href="#"><img src="/image/photoMe-color.png" alt="chanadee"></a>
                            <a href="#" class="author-name">Chanadee Hlaoken</a>
                            <i class="fa-solid fa-circle fa-xs" style="color: #d4d6d9; font-size: 4px;"></i>
                            <span> November 4,2023</span>
                        </div>
                        <h1 class="blog-title">JSON is incredibly slow:Here's What's Faster!</h1>
                        <p class="box-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos suscipit
                            officia facere sint quaerat fugiat adipisci vero deleniti temporibus, iusto quas aspernatur,
                            laudantium corporis? Eligendi sint voluptate cupiditate! Iure at soluta sunt error omnis
                            saepe
                            placeat dolore quod, reiciendis ipsam optio illo aspernatur deserunt repellendus consectetur
                            cumque! Praesentium perferendis aut voluptas, eum error quam rerum quod, deserunt modi
                            possimus
                            excepturi impedit? Excepturi harum suscipit quo est nesciunt explicabo voluptate! Officiis,
                            dolorem dolores temporibus voluptatibus optio culpa iure totam ea dignissimos corrupti sunt?
                            Magnam doloremque eaque amet architecto maxime voluptatibus, nostrum molestiae praesentium.
                            Tenetur illum cupiditate quisquam neque nostrum assumenda eius, quas at hic necessitatibus
                            accusamus laborum. Quisquam porro libero quo nulla, deserunt facere fugit. Magni laudantium
                            cum
                            eum maiores itaque quis corrupti in quae placeat pariatur, ipsum iste incidunt aspernatur
                            possimus, saepe qui cupiditate nam libero mollitia omnis vitae ipsam a corporis minus!
                            Incidunt
                            illo dolore consectetur, ipsa ab, officiis vel sint unde cupiditate natus iusto. Ea adipisci
                            necessitatibus quia alias ipsum saepe veniam, recusandae quod perspiciatis vero beatae
                            maiores
                            praesentium, corrupti culpa id ut doloremque. Voluptates inventore assumenda repellat modi
                            deleniti, ea veritatis culpa provident odio eveniet reiciendis et, consectetur error unde
                            quaerat iusto eaque. Inventore corrupti eum modi eligendi magni non temporibus quas dolore
                            placeat porro repudiandae recusandae sapiente, obcaecati illum id, molestiae quia fugiat!
                            Illo
                            quod, hic atque eius esse voluptatum ipsam labore quia tempore voluptatem, consectetur
                            voluptatibus maxime magni nobis. Consequatur est eligendi illo obcaecati culpa dolorum
                            repellat
                            debitis facere, pariatur neque eum nam molestias cum quasi amet animi alias veniam earum
                            ratione
                            sapiente unde officiis numquam maxime. Labore enim facilis, iusto, dolorem molestiae
                            consectetur
                            dolorum quibusdam ratione voluptatum aliquid vitae cum earum ut optio, consequuntur cumque
                            excepturi? Ducimus quos placeat hic et enim! Praesentium, alias. Odio optio mollitia nisi
                            fugiat
                            architecto quasi et iste non!</p>
                        <div class="box-footer">
                            <a href="#">Catgory</a>
                            <i class="fa-regular fa-bookmark"></i>
                        </div>
                    </div>
                    <!-- <img src="https://miro.medium.com/v2/resize:fit:4800/format:webp/1*I2ObYjzqveyXzEe9QixMPw.png"
                        class="img-content" alt="json"> -->
                </div>
                <%if(locals.data){%>
                    <%data.forEach(data=>{%>
                        <div class="blog-left">
                            <div class="blog">
                                <div class="blog-author">
                                    <%if(data.userId.image){%>
                                        <%if((data.userId.image).includes('https')){%>
                                            <a href="#" style="cursor: default;"><img src="<%=data.userId.image%>" alt="chanadee" width="40px" height="35px" class="rounded-pill"></a>
                                        <%}else{%>
                                            <a href="#" style="cursor: default;"><img src="/uploads/<%=data.userId.image%>" alt="chanadee" width="40px" height="35px" class="rounded-pill"></a>
                                        <%}%>
                                        
                                    <%}else{%>
                                        <a href="#" style="cursor: default;"><img src="/image/defaultUserIcon2.jpg" alt="chanadee"></a>
                                    <%}%>
                                    <a href="#" class="author-name" style="cursor: default;"><%=data.userId.firstName%> <%=data.userId.lastName%></a>
                                    <i class="fa-solid fa-circle fa-xs" style="color: #d4d6d9; font-size: 4px;"></i>
                                    <span> <%=data.date%></span>
                                </div>
                                <a href="#" style="color: #333;" type="button" class="" data-bs-toggle="modal" data-bs-target="#signin">
                                    <h1 class="blog-title"><%=data.title%></h1>
                                    <p class="box-content"><%=data.content%></p>
                                </a>
                                <div class="box-footer">
                                    <p></p>
                                    <i class="fa-regular fa-bookmark"></i>
                                </div>
                            </div>
                            <!-- <img src="/uploads/<%=data.image%>"
                                class="img-content" alt="json"> -->
                        </div>
                    <%})%>
                    <%}else{%>
                        <%}%>
                
            </div>
            <!-- right -->
            <!-- Card author -->
            <div class="super-right">
                <h3>Who to follow</h3>
                <div class="author-card">
                    <!-- single card -->
                    <%user.forEach((data)=>{%>
                        <div class="card-total">
                            <div class="card-header">
                                <%if(data.image){%>
                                    <%if((data.image).length > 50){%>
                                        <a href="#" class="img-author" style="cursor: default;"><img src="<%=data.image%>" alt="chanadee"></a>
                                        <a href="#" class="name-author" style="cursor: default;"><%=data.firstName%> <%=data.lastName%></a> <img width="18" height="18"
                                        src="https://img.icons8.com/nolan/64/approval.png" alt="approval" />
                                    <%}else{%>
                                        <a href="#" class="img-author" style="cursor: default;"><img src="/uploads/<%=data.image%>" alt="chanadee"></a>
                                        <a href="#" class="name-author" style="cursor: default;"><%=data.firstName%> <%=data.lastName%></a> <img width="18" height="18"
                                        src="https://img.icons8.com/nolan/64/approval.png" alt="approval" />
                                    <%}%>
                                    
                                <%}else{%>
                                    <a href="#" class="img-author" style="cursor: default;"><img src="/image/defaultUserIcon2.jpg" alt="chanadee"></a>
                                    <a href="#" class="name-author" style="cursor: default;"><%=data.firstName%> <%=data.lastName%></a> <img width="18" height="18"
                                        src="https://img.icons8.com/nolan/64/approval.png" alt="approval" />
                                <%}%>
                                
                                <p>99.99K followers</p>
                            </div>
                            <div class="card-content">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, laudantium quasi illum
                                    autem tenetur corporis rem, magni eaque facilis eum ab! Modi a obcaecati nobis!</p>
                            </div>
                            <div class="card-footer">
                                <a href="/user/" type="button" class="" data-bs-toggle="modal" data-bs-target="#signin">Follow</a>
                            </div>
                        </div>
                    <%})%>
                    
                </div>
            </div>
        </div>
    </div>
    <%-include('./partials/footer')%>