<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rare</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="icon" href="/image/logo-removebg-preview.png" type="image/png">
</head>
<body>
    <nav class="nav-home ">
        <div class="navbar container-fluid d-flex justify-content-between align-items-center">
            <div class="home-nav-left d-flex ">
                <a href="/user/">
                    <img src="/image/logo-removebg-preview.png" class="nav-left" alt="logo" width="40px">
                </a>
                <form action="/user/search" method="post">
                    <div class="ms-3 form-control rounded-pill bg-body-tertiary">
                        <button href="#" type="submit" style="border: none; background-color: transparent;"><i class="fa-solid fa-magnifying-glass" style="color: #51555c;"></i></button>
                        <input type="text" class="search-input bg-body-tertiary" placeholder="Search" name="text" value="<%=text%>">
                    </div>
                </form>
            </div>

            <div class="home-nav-rigth">
                <div class="dropdown d-flex align-items-center">
                    <div class="me-3 h-100 d-flex align-items-center">
                        <a href="/write"><i class="fa-solid fa-pen-to-square "></i> Write</a>
                    </div>
                    <div>
                        <a class="dropdown d-flex align-items-center hidden-arrow" type="button"
                        id=" navbarDropdownMenuAvatar" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <%if(locals.dataImage){%>
                            <%if(locals.dataGoogle && (locals.dataGoogle).length > 50){%>
                                <img src="<%=dataGoogle%>" class="rounded-circle"
                                height="40" width="40" alt="Black and White Portrait of a Man" loading="lazy" />
                            <%}else{%>
                                <img src="/uploads/<%=dataImage%>" class="rounded-circle"
                            height="40" width="40" alt="Black and White Portrait of a Man" loading="lazy" />
                            <%}%>
                            
                        <%}else{%>
                            <img src="/image/defaultUserIcon2.jpg" class="rounded-circle"
                            height="40" alt="Black and White Portrait of a Man" loading="lazy" />
                        <%}%>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
                            <li>
                                <a class="dropdown-item" href="/user/profile"><i class="fa-regular fa-user"
                                        style="color: #51555c;"></i> Profile</a>
                            </li>
                            <!-- <li>
                                <a class="dropdown-item" href="#"><i class="fa-regular fa-bookmark"
                                        style="color: #51555c;"></i> Library</a>
                            </li> -->
                            <li>
                                <a class="dropdown-item" href="/user/profile"><i class="fa-regular fa-clipboard"
                                        style="color: #51555c;"></i> Stories</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="/user/logout">
                                    <h6>sign out</h6>
                                    <p><%=dataUser.email%></p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
<div class="container d-flex-column align-items-center">
    <div class="container p-5 d-flex-column">
        <div class="mb-5" id="result">
            <h1 style="color: rgb(176, 175, 175);" class="fw-bold">Results for <span style="color: #333;"><%=text%></span></h1>
        </div>
        <div class="container blog d-flex-column">
            <%if(locals.data){%>
                <%data.forEach(data=>{%>
                    <div class="d-flex justify-content-center mt-4">
                        <div class="d-flex-column">
                            <div class="blog-header d-flex align-items-center">
                                <%if(data.userId.image){%>
                                    <%if((data.userId.image).length > 50){%>
                                        <a href="#" style="cursor: default;"><img src="<%=data.userId.image%>" class="rounded-pill" width="40px" height="40px" alt="chanadee"></a>
                                    <%}else{%>
                                        <a href="#" style="cursor: default;"><img src="/uploads/<%=data.userId.image%>" class="rounded-pill" width="40px" height="40px" alt="chanadee"></a>
                                    <%}%>
                                    
                                <%}else{%>
                                    <a href="#" style="cursor: default;"><img src="/image/defaultUserIcon2.jpg" class="rounded-pill" width="40px" alt="chanadee"></a>
                                <%}%>
                                <a href="#" class="author-name text-bold fw-bold" style="cursor: default;"><%=data.userId.firstName%> <%=data.userId.lastName%></a>
                                <i class="fa-solid fa-circle fa-xs mt-1" style="color: #d4d6d9; font-size: 6px;"></i>
                                <span> <%=data.date%></span>
                            </div>
                            <a href="/blog?read=<%=data._id%>">
                            <h1 class="blog-title fs-5 mt-1"><%=data.title%></h1>
                            <p class="box-content"><%=data.content%></p>
                            </a>
                                <div class="blog-footer d-flex justify-content-between">
                                    <div>
                                    </div>
                                    <%if(locals.dataUser.email == data.userId.username){%>
                                    <i class="fa-regular fa-bookmark" hidden></i>
                                    <%}else{%>
                                        <!-- <a id="add-library" style="border: none; background-color: transparent; cursor: pointer;"><i class="fa-regular fa-bookmark"></i></a> -->
                                        
                                    <%}%>
                                </div>
                        </div>
                        <div>
                            <!-- <img src="/uploads/<%=data.image%>" class="img-content" alt="json"/> -->
                        </div>
                    </div>
                <%})%>
                <%}else{%>
                <%}%>
        </div>
        
        
    </div>
</div>

<%-include('./partials/homeFooter')%>